<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/global.css">
    <script src="../assets/lib/escapeHTML.js"></script>
    <script src="../components/nav/nav.js"></script>
    %%SCRIPT_PLACEHOLDER%%
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
    <nav id="nav">
        <a class="nav-logo-link" href="/">
            <img class="logo-image" src="../assets/logo.png" alt="logo">
        </a>
        <span id="logged-in" hidden>
            <a class="nav-link" href="/chat" id="chat-link">Chat</a> | 
            <a class="nav-link" href="/pinboard" id="pin-link">Pinboard</a> |
            <a class="nav-link" href="/email" id="email-link">Email</a> |
            <a class="nav-link" href="#" id="logout-a">Logout</a>
        </span>
        <span id="not-logged-in">
            <a class="nav-link" href="/login" id="login-link">Login</a>
        </span>

        
    </nav>

    <main>